
#header {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    
  }
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    padding-bottom: .95em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    font-weight: 500;

    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: rgb(96, 120, 255);
    

  }

  
.navigation a:hover {
    background: rgb(96, 120, 255) !important;
    opacity: 0.65;
    /* color: rgb(0, 0, 0) !important; */
  }
  

  
@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border: #f7f7f7 solid 1px;
        margin: none;
        border-left: none;
        border-right: none;
    
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
  }

#main {
    /* margin: .75em; */
    margin-top: 3vh;
    max-width: 80em;
    padding-left: 1em;
    padding-right: 1em;

    display: block;
    margin-left: auto;
    margin-right: auto;

}


.purplebar {
    background-color: rgb(96, 120, 255);
    height: .5em;
    width: 100%;
    border-top-left-radius: .25em;
}

.tabContent {
    background-color: #f7f7f7;
    /* height: 100%; */
    padding: 1em;
    height: auto;


    /* border-bottom-left-radius: .5em; */
    border-bottom-right-radius: .5em;
    
}

.settingstab {
    padding-bottom: .23em !important;
    padding-top: .32em !important;
    padding-left: .35em !important;
    padding-right: .35em !important;
    margin-right: 0px !important;
}

#settingsicon {
    height: 1.8em;
}

.grid-container{ 
    display: grid; 
    grid-template-columns: 1fr 8fr; 

    /* width: 30%;  */
} 





.logo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1em; */
    margin-bottom: 1em;
    margin-left: 1em;
}

#diningdata {
    font-family: 'Courier Prime', monospace;
    font-weight: 600;
    font-size: 45px;
    text-decoration: none;
    color: rgb(96, 120, 255);
    margin-bottom: 0px !important;

}

#diningdata2 {
    font-family: 'Courier Prime', monospace;
    font-weight: 600;
    font-size: 45px;
    text-decoration: none;
    color: rgb(96, 120, 255);
    margin-bottom: 0px !important;

}



#subtitle {
    font-family: 'Courier Prime', monospace;
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 0px !important;
    margin-left: .09em;
}
#wustl-logo {
    height: 4.75vh;
}

.no-link-decoration {
    text-decoration: none;
}

.graph-module {
    height: 17em;
    width: 23em;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    margin: 1em;
}

.dash-module {
    padding: 1em;
    background-color: white;
    margin: 1em;
}

.dashboard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    ;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.row {
    margin:0 -15px !important;
  }
  .col-xx-xx {
    padding:0 15px !important;
  }


/* css for left menu and right content */
.column {
    float: left;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
}


#menu-column {
    background-color: rgb(96, 120, 255);
    /* margin-left: .9em;
     */
    width: 11em;
    display: flex;
    align-items: start;
    justify-content: space-around;
    height: auto;
    
    
    padding: .5em;
    border-bottom-left-radius: .25em;
}




#menu-table {
    border-collapse: collapse;
    width: 100%;
}

#menu-table tr {
    border-bottom: 1px solid rgb(255, 255, 255);
}

#menu-table td {
    padding-bottom: .25em;
    padding-top: .25em;
    background-color: rgb(96, 120, 255);
    border-radius: .25em;
    opacity: .55;
    color: white;
}

.selected-menu-option {
    opacity: 1  !important;

}

#menu-table th {
    text-align: left;
    
}

#menu-table a {
    color: white;
    
    text-decoration: none;
}


#menu-table a:hover {
    font-weight: bolder;

}

.number {
    font-family: 'Readex Pro', sans-serif;
}


* {
    font-family: 'Roboto';
}

.bold {
    font-weight: bold;
}

/* .Nunito {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
} */


.searchbox {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 1.5em;

    border: 3px solid rgb(96, 120, 255);
    border-right: none;

    height: 40px;

    float: left;
    width: 20vw;
    padding-left: 1vw;
    font-size: medium;

    margin-left: 0px;
}

.searchbox:focus {
    outline: none;
}
.search_btn {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 0em;

    border: 3px solid rgb(96, 120, 255);
    background-color: rgba(230, 230, 230, 0.856);
    border-left: none;
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: .5vh;
    margin-left: 0px;



    height: 47.9px;
}


.search_btn:hover {
    background-color: rgb(96, 120, 255);
    color: white;
}
.sales-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;

}

#results_message {
    font-weight: normal;

}

