
#header {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    
  }
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    padding-bottom: .95em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    font-weight: 500;

    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: rgb(96, 120, 255);
    

  }

  
.navigation a:hover {
    background: rgb(96, 120, 255) !important;
    opacity: 0.65;
    /* color: rgb(0, 0, 0) !important; */
  }
  

  
@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border: #f7f7f7 solid 1px;
        margin: none;
        border-left: none;
        border-right: none;
    
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
  }

#main {
    /* margin: .75em; */
    margin-top: 3vh;
    max-width: 80em;
    padding-left: 1em;
    padding-right: 1em;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.purplebar {
    background-color: rgb(96, 120, 255);
    height: .5em;
    width: 100%;
}

.tabContent {
    background-color: #f7f7f7;
    height: 100%;
    padding: 1em;
    height: auto;


    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    
}

.settingstab {
    padding-bottom: .24em !important;
    padding-top: .3em !important;
    padding-left: .35em !important;
    padding-right: .35em !important;
    margin-right: 0px !important;
}

#settingsicon {
    height: 1.8em;
}






.logo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1em; */
    margin-bottom: 1em;
    margin-left: 1em;
}

#diningdata {
    font-family: 'Courier Prime', monospace;
    font-weight: 600;
    font-size: 2.7em;
    text-decoration: none;
    color: rgb(96, 120, 255);
    margin-bottom: 0px !important;

}

#subtitle {
    font-family: 'Courier Prime', monospace;
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 0px !important;

}
#wustl-logo {
    height: 4vh;
}

.no-link-decoration {
    text-decoration: none;
}

.graph-module {
    height: 17em;
    width: 23em;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    margin: 1em;
}

.dash-module {
    padding: 1em;
    background-color: white;
    margin: 1em;
}

.dashboard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
    ;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.row {
    margin:0 -15px !important;
  }
  .col-xx-xx {
    padding:0 15px !important;
  }