{% extends "index.html" %}

{% block menu%}
<table class="bold" id="menu-table">
  <tr>
      <td class="menu-option"><a href="#">Menu Item 1</a></td>
  </tr>
  <tr>
      <td class="menu-option"><a href="#">Menu Item 2</a></td>
  </tr>
  <tr>
      <td class="menu-option"><a href="#">Menu Item 3</a></td>
  </tr>
  <tr>
      <td class="menu-option"><a href="#">Menu Item 4</a></td>
  </tr>
</table>
{% endblock %}        

{% block content %}
<p>This page is for comparing two custom data sets.</p>
<p>Here, a user can also look at data for specific customer categories (i.e., vegetarians or people with nut allergies).</p>
{% endblock %}
