{% extends "index.html" %}

  {% block menu%}
    <table id="menu-table">
      <tr>
          <td><a href="#">Menu Item 1</a></td>
      </tr>
      <tr>
          <td><a href="#">Menu Item 2</a></td>
      </tr>
      <tr>
          <td><a href="#">Menu Item 3</a></td>
      </tr>
      <tr>
          <td><a href="#">Menu Item 4</a></td>
      </tr>
    </table>
  {% endblock %}    


    {% block content %}
    <div class="dashboard-container">

      <div class="dash-module">
        <h1>$6,502.87</h1>
        <p id="revenue-date"></p>
        <input type="date" value={{today}} id="revenue-date-selector">
      </div>

      <div class="dash-module">
        <h1 style="color: rgb(0, 192, 0);">$1,743.28</h1>
        <p id="profit-date"></p>
        <input type="date" value={{today}} id="profit-date-selector">
      </div>



    <div id="bar1">
        <canvas id="chart1"class="graph-module"></canvas>
        <script>
          // bar chart data
          var barData = {
            labels : [
              {% for item in labels %}
               "{{ item }}",
              {% endfor %}
        ],
            
    
            datasets : [{
              label: '{{ legend }}',	
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              data : [
                {% for item in values %}
                   "{{ item }}",
                  {% endfor %}
            ]
              }
            ]
            
          }
    
         // get bar chart canvas
         var mychart = document.getElementById("chart1").getContext("2d");
    
           steps = 10
           max = {{max}}
    
         // draw bar chart
         new Chart(mychart).Bar(barData, {
           scaleOverride: true,
           scaleSteps: steps,
           scaleStepWidth: Math.ceil(max / steps),
           scaleStartValue: 0,
           scaleShowVerticalLines: true,
           scaleShowGridLines : true,
           barShowStroke : true,
           scaleShowLabels: true
           }
         );
    
        </script>
      </div>

    <div id="line1">
      <canvas id="chart2" class="graph-module"></canvas>
      <script>
  
        // bar chart data
        var barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],
  
          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [
          {% for item in values %}
                {{ item }},
              {% endfor %}]
            }
      ]
        }
  
        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;
  
        // get bar chart canvas
        var mychart2 = document.getElementById("chart2").getContext("2d");
  
        steps = 10
        max = {{ max }}
        // draw bar chart
        var LineChartDemo = new Chart(mychart2).Line(barData, {
          scaleOverride: true,
          scaleSteps: steps,
          scaleStepWidth: Math.ceil(max / steps),
          scaleStartValue: 0,
          scaleShowVerticalLines: true,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          bezierCurve: false,
        });
  
      </script>
    </div>


<!-- 
    <div id="pie1">
      <canvas id="chart3" width="600" height="400"></canvas>
    <script>
    var pieData = [
        {% for item, label, colors in set %}
        {
            value: {{item}},
            label: "{{label}}",
            color: "{{colors}}"
        },
        {% endfor %}
    ];

      // get bar chart canvas
    var mychart3 = document.getElementById("chart3").getContext("2d");
    steps = 10
    max = {{ max }}

      // draw pie chart
    new Chart(mychart3).Pie(pieData);

    </script>
    </div> -->
    
    </div>
    {% endblock %}