<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DiningData - {{title}}</title>
    <link rel="stylesheet" href="static/css/style.css">


    <!-- import Courier Prime -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="static/js/main.js"></script>

    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

    <!-- link the icons from google fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">



</head>
<body>


<div id="main">
    <header class="topstrip">
        <div class="logo-container">
            <div id="brandinggroup">
                <a class="no-link-decoration" href="/"><h1 id="diningdata">Dining<i id="diningdata2">Data</i></h1></a>
                <p id="subtitle">Bespoke Analytics</p>
            </div>
            <a href="https://wustl.edu/" target="_blank"><img id="wustl-logo" src="static/img/onelinelogo.png" alt="Washington University logo"></a>
        </div>

    </header>
    <ul class="navigation">
        <li><a class="tab1 tab" href="/">Dashboard</a></li>
        <li><a class="tab2" href="/locations">Locations</a></li>
        <li><a class="tab3" href="/productsales">Product Sales</a></li>
        <li><a class="tab4" href="/customcompare">Custom Data Compare</a></li>
        <li class="no-right-margin"><a class="tab5 settingstab" href="/settings"><img id="settingsicon" class="settingstab" src="static/img/settings.svg" alt="settings"></a></li>
    </ul>
    <div class="purplebar"></div>
<div class="grid-container">
                <div id="menu-column" class="grid-child">
                    <!-- <div id="inner-menu-column"> -->
                        {% block menu %}
                        {% endblock %}
                            
                    </div>
                <!-- </div> -->

                <div class="tabContent grid-child">
                    {% block content %}
                    {% endblock %}
                </div>

            
        


            


            


        
    </div>
</div>
</div>
</body>
</html>