{% extends "index.html" %}

{% block menu%}
<table id="menu-table">
  <tr>
      <td><a href="#">Bear's Den</a></td>
  </tr>
  <tr>
      <td><a href="#">Bytes Café</a></td>
  </tr>
  <tr>
      <td><a href="#">Café Bergson</a></td>
  </tr>
  <tr>
      <td><a href="#">Café Rosedale</a></td>
  </tr>
    <tr>
        <td><a href="#">Cherry Tree</a></td>
    </tr>
    <tr>
        <td><a href="#">DUC Dining</a></td>
    </tr>
      <tr>
          <td><a href="#">Etta's Micro-Mart</a></td>
      </tr>
      <tr>
        <td><a href="#">Ibby's</a></td>
    </tr>
      <tr>
          <td><a href="#">Law Café</a></td>
      </tr>
      <tr>
        <td><a href="#">Millbrook Market</a></td>
    </tr>
      <tr>
          <td><a href="#">Parkside Café</a></td>
      </tr>
      <tr>
        <td><a href="#">Paws & Go</a></td>
    </tr>
      <tr>
          <td><a href="#">Sally The Salad Robot</a></td>
      </tr>
      <tr>
        <td><a href="#">Stanley's Sushi & Tea</a></td>
    </tr>
      <tr>
          <td><a href="#">Village Café</a></td>
      </tr>
      <tr>
        <td><a href="#">Whispers Café</a></td>
    </tr>
</table>
{% endblock %}        

{% block content %}
<p>this page lets a user look at data for specific locations</p>
{% endblock %}
