{% extends "index.html" %}


{% block menu%}
<table class="bold" id="menu-table">
    <tr>
        <td class="menu-option"><a href="/productsales-search">Product Search</a></td>
    </tr>
  <tr>
      <td class="menu-option"><a href="/productsales-type">Products by Type</a></td>
  </tr>
  <tr>
      <td class="menu-option"><a href="/productsales-ingredients">Products by Major Ingredients</a></td>
  </tr>
  <tr>
      <td class="menu-option"><a href="/productsales-allergens">Products by Allergens</a></td>
</tr>
</table>
{% endblock %}        

{% block content %}
{% block menuoption_content %}
{% endblock %}
{% endblock %}