{% extends "productsales.html" %}




{% block content %}
{% block menuoption_content %}
<!-- <p>This page shows info specifically for {{menuoption}}</p> -->
<div class="sales-container">
<!-- search box form -->

    {% if results %}
    <form action="/productsales-search" method="post">
        <input type="text" name="searchterm" class="searchbox" placeholder="{{searchterm}}">
        <button type="submit" class="search_btn"><span class="material-icons">search</span></button>
    </form>

    

    <table class="table table-hover table-responsive-lg">
    <th>
        <p><i>Showing results for "{{searchterm}}"</i></p>
    </th>

    {% for result in results %}	
    <tr>
        <td>{{result.name}}</td>
        <td>{{result.price}}</td>
        <td>{{result.cost}}</td>
        <td>{{result.type}}</td>
        <td>{{result.description}}</td>
        <td>{{result.ingredients}}</td>
        <td>{{result.number_sold_today}}</td>
    </tr>

    {% endfor %}
    </table>
    {% else %}
    <form action="/productsales-search" method="post">
        <input type="text" name="searchterm" class="searchbox" placeholder="Find Data On Specific Products">
        <button type="submit" class="search_btn"><span class="material-icons">search</span></button>
    </form>
    {% endif %}




{% endblock %}
</div>

{% endblock %}